@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
}
nav {
  margin-top: 0px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 1px 2px 8px -1px #000000;
}
#nav-1 {
  background: #e9b0cf;
}

.links {
  transition: 0.3s ease;
  background: #e9b0cf;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #e9b0cf;
  border-bottom: 4px solid #e9b0cf;
  padding: 20px 0;
  margin: 0 20px;
}
.links:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}
.link {
  transition: 0.3s ease;
  background: #e9b0cf;
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  border-top: 4px solid #e9b0cf;
  border-bottom: 4px solid #e9b0cf;
  padding: 20px 0;
  margin: 0 20px;
}

.logo {

    height: 100px;
    width: 100px;
    background-size: 85px 85px;
    background-position: center center;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;


}
